<h1>Action Plan for MVP1 development with estimated time</h1>
<p>In Web app development, MVP is a basic version of a web application. MVP is a
    process of building a new product with core functionalities and important, minimum
    features, to test how the target audience would respond.</p>
   
    <table class="table table-bordered table-striped table-dark table-hover">
        <thead>
            <tr class="bg-primary" nowrap="nowrap">
            

               <th style="cursor: pointer">Rank</th>
               <th style="cursor: pointer">Development steps</th>
               <th style="cursor: pointer">Tasks</th>
               <th style="cursor: pointer">who</th>
               <th style="cursor: pointer">status</th>
               <th style="cursor: pointer">Comment</th>
            </tr>
        </thead>
        <tbody>
           
              <tr class="post">
                <td style="cursor: pointer">1</td>
                <td style="cursor: pointer">Discovery and MVP planning</td>
                <td style="cursor: pointer"><%- discovery_MVP_planning.task %></td>
                <td style="cursor: pointer"><%- discovery_MVP_planning.status %></td>
                <td style="cursor: pointer"><%- discovery_MVP_planning.who %></td>
                <td style="cursor: pointer"><%- discovery_MVP_planning.comment %></td>
             </tr>
             <tr class="post">
                <td style="cursor: pointer">2</td>
                <td style="cursor: pointer">MVP Analysis,Design and Plan</td>
                <td style="cursor: pointer"><%- MVP_analysis_design_plan.task %></td>
                <td style="cursor: pointer"><%- MVP_analysis_design_plan.status %></td>
                <td style="cursor: pointer"><%- MVP_analysis_design_plan.who %></td>
                <td style="cursor: pointer"><%- MVP_analysis_design_plan.comment %></td>
             </tr>
             <tr class="post">
                <td style="cursor: pointer">3</td>
                <td style="cursor: pointer">MVP Development</td>
                <td style="cursor: pointer"><%- MVP_development.task %></td>
                <td style="cursor: pointer"><%- MVP_development.status %></td>
                <td style="cursor: pointer"><%- MVP_development.who %></td>
                <td style="cursor: pointer"><%- MVP_development.comment %></td>
             </tr>
             <tr class="post">
                <td style="cursor: pointer">4</td>
                <td style="cursor: pointer">Quality Assurance</td>
                <td style="cursor: pointer"><%- quality_assurance.task %></td>
                <td style="cursor: pointer"><%- quality_assurance.status %></td>
                <td style="cursor: pointer"><%- quality_assurance.who %></td>
                <td style="cursor: pointer"><%- quality_assurance.comment %></td>
             </tr>
             <tr class="post">
                <td style="cursor: pointer">5</td>
                <td style="cursor: pointer">Launch and Further Iteration</td>
                <td style="cursor: pointer"><%- MVP_analysis_design_plan.task %></td>
                <td style="cursor: pointer"><%- MVP_analysis_design_plan.status %></td>
                <td style="cursor: pointer"><%- MVP_analysis_design_plan.who %></td>
                <td style="cursor: pointer"><%- MVP_analysis_design_plan.comment %></td>
             </tr>

        </tbody>
    </table>