<h1>What makes us your most trusted digital partner? </h1>
<h2>Cost-effective strategy </h2>
<p>While we focus on making our website the best in every respect, we give utmost consideration to guarantee the cost-effectiveness of our projects. With our immense experience and mastery of the latest technologies, the clients enjoy the most satisfying service that fits their budget. </p> 

<h2>On-time Delivery  </h2>
Assigning different expertise people for each task is our strategy of software development that allow us to deliver a project within estimated time and budget. 

<h2>Transparency</h2>  
Daily communication, weekly progress report.  

<h2>Quality </h2>
<p> Perform Quality Assurance at each stage of development to deliver high quality product. </p>

<h2>Super Skilled & Talented Experts </h2>
<p> Our strength is the talented pool of experts who know the pulse of the ultimate customer- those millions who visit your website. We deploy dedicated teams of highly skilled developers to work with you at every stage of the project - be it development, Quality Assurance, UI/UX, DevOps, or Project Management. They ensure that your ideas are transformed into the most fascinating outputs. </p>
 
<h2>Cutting Edge Technologies & Open-Source Philosophy </h2>
<p> We do the best websites and web applications out there, and our fees are very reasonable.  
For the past 7 years, we have been leading the web development industry with innovative concepts, cutting edge design, and state of the art web technologies. We specialize in creating advanced web applications combining robust functionality with object-oriented programming practices including Ajax, PHP 5+, MySQL 5+, Vuejs, Flutter, Reactjs, firebase etc... </p>

<img src="../public/img/frames.jpg" alt="image is not available">

<p> Our software engineers use cutting edge technology to create optimized internet-based interfaces that are accessible, interactive, functional, and interoperable. The result is a fast and efficient, user-friendly website or web application. We provide world-standard web development services covering a vast technical area based around web technologies and trends.</p> 
 
<h2>Our Team dedication and commitment </h2>
<p> There are usually 8 or 10 experts working together on projects of this scope, covering the project’s management, the graphic design phase, development phase, the QA, etc. But really the entire team is dedicated to the success of your project, and we regularly have brainstorming sessions and staff meetings where everybody here at Adey-Meselesh GmbH participates. </p> 
 
<p> The team who prepared this proposal has been actively thinking about the solution since we received your quote request and will be the core leadership team on the project. AdeyMeselesh GmbH is prepared to allocate a core team immediately after executing an agreement with you. We will be working closely throughout the project and need to align resources so that information flows freely, and bottlenecks are avoided. </p> 

<h2>Our website </h2>

<p>Please visit our website at <a href="http://www.adeymeselesh.de">www.adeymeselesh.de</a> for further detailed information about us, our work, the technologies we use, and our philosophy.</p> 
 
<h1>Client (Tobias) responsibilities</h1> 
<p> For the solution we have prepared for your project, we have assumed that our client:</p>  
  <ul>
      <li>
        Tobias will be our main point of contact through which all feedback and communication will flow  
      </li>
      <li>Will be responsive and cooperative throughout the project </li>
      <li>Will provide the company’s branding material, including the logo (digital source files), Colour, Layout preference. </li>
      <li>Will provide Domain name</li>
      <li>API/Payment gateway for integration (we will integrate it) Provide Links for FB, Linkedin and twitter etc. </li>
  </ul> 
  
	
