<p>On behalf of Adey-Meselesh GmbH company we are pleased to submit an insight
    plan and technical specification for the development of a financial portfolio
    management MVP web app. The terms of this insight proposal are valid for up to
    fifteen days after being presented.</p>
<ul>
    <li>Introduction .......................................................................................................................................... 2 </li>
    <li>Executive Summary ............................................................................................................................ 3 </li>
    <li>Application Architecture Diagrams .................................................................................................. 3 </li>
    <li>Development – Tools and Technology ............................................................................................ 4
        <ul>
            <li>Programming language .................................................................................................................. 4</li>
            <li>Framework ....................................................................................................................................... 5</li>
            <li>Platform and Database-: ................................................................................................................ 6 </li>
        </ul>
    </li>
    <li>Adey-Meselesh  Web App Development Approach ....................................................................... 6 
        <ul>
            <li>Deep understand of your business need: .................................................................................... 6 </li>
            <li>Multi-device compatibility: ............................................................................................................ 7 </li>
            <li>Incorporating Web DevOps: ........................................................................................................... 7 </li>
        </ul>
    </li>
    <li>What makes us your most trusted digital partner? ........................................................................ 9
        <ul>
            <li>Cost-effective strategy ....................................................................................................................... 9 </li>
            <li>Cost-effective strategy ....................................................................................................................... 9 </li>
            <li>On-time Delivery ................................................................................................................................ 9 </li>
            <li>Transparency ...................................................................................................................................... 9</li>
            <li>Quality ................................................................................................................................................ 9 </li>
            <li>Super Skilled & Talented Experts ....................................................................................................... 9</li>
            <li>Cutting Edge Technologies & Open-Source Philosophy ..................................................................... 9 </li>
            <li>Our Team dedication and commitment ........................................................................................... 10 </li>
            <li>Our website ...................................................................................................................................... 10 </li>
        </ul>
    </li>
    <li>Client (Tobias) responsibilities ....................................................................................................... 10 </li>
</ul>


<h1>Introduction </h1>
<p> Thank you for your interest in partnering with Adey-Meselesh GmbH for your MVP web application development project. Today there are numbers of firms offering web app development services, we know how challenging it can be to find the right agency for your web development needs. 
We understand the scope of this project is to design and develop an optimized financial portfolio management app. We have understood your specifications and requirements on the previous meeting we had.  We worked with worldwide clients as a website designing and development service provider and met their expectations successfully to run their online business successfully. 
We have built a team a of developers, designer and tester who have many years of experience in IT technology.  </p>
 
<p>Thanks again for the opportunity to work with you! </p>
 
<h1>Executive Summary </h1>
<p> You need a full fledge web application for managing user’s financial data and stock information to help people on their investments. </p>

<p> <strong>Adey-Meselesh</strong> GmbH is uniquely qualified to build such platforms that you desire with high quality and low budget. </p>
<strong> MVP 1 Requested features by our client</strong>
<ol>
    <li>Main dashboard with an overview of user's transaction, ETF portfolios and stock information</li>
    <li>All transaction lists in row and column </li>
    <li>Analytics of portfolio based on different kind of attributes </li>
</ol>
	
 <h1>Application Architecture Diagrams </h1>
<p>A web application architecture is a pattern of interaction between various web application components. The type of web application architecture depends on how the application logic is distributed among the client and server sides.</p> 
<ol>
    <li>UI/UX component <br>  
        This includes activity logs, dashboards, notification, settings, statics ets. That component has nothing to do with the business process of the application.</li>
        <li>
            User management  <br>
            Users are the heart of this financial portfolio management application. 
        </li>
        <li>Analytics (Business logic, or Process)</li>
        <li>Data (Financial data) from API, Banks and PDF </li>
</ol>

<h1> Development – Tools and Technology</h1>
<p>We, the development team at Adey-Meselesh GmbH, are strive to make the best web
    application based on our client's requirement and their preferences. It is important to
    provide great work quickly, with a high-level of security, and an attractive interface.
    To cover all these points in our development environment we setup the best
    technology stack for web and mobile applications development.</p>
