<h1><%- title %></h1>
<h3> Prepared for  </h3>
<h3><%- prepared_for %></h3>
<h3><%- date %></h3>


 <%- include('./partials/Introduction.ejs') %> 



<h2>Programming language</h2>
<%- programming_language %>

<h2>Framework</h2>
<%- frameWork %>

<p><strong>Platform and Database</strong> <%- platform_and_database %></p>

<%- include('./partials/developmentApproach.ejs') %>

<%- include('./partials/actionPlan.ejs') %>

