body {
    background-color: #eee;
    font-size: 26px;
}

.wrapper {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
}

header, footer {
    background-color: ghostwhite;
    padding: 20px;
}

main {
    background-color: cornsilk;
    padding: 20px;
}

.layout-sidebar {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
}

.post{
    border: 1px solid black;
    border-top-left-radius: 25px;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 15px;
    white-space: nowrap;
    padding: 0px;
    width: 100%;
    overflow-x: scroll;
    }

td {
    height: 5px;
    padding: 0px;
 }


th {
 border: 1px solid black;
font-family: "Times New Roman", Times, serif;
font-style: normal;
white-space: nowrap;
padding: 12px 15px;
height: 50px;
text-align: center;
font-weight: bold;
}